<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_LinerBankTransService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_LinerCurrenciesService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_LinerCustomerService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_LinerEmployeeService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_LinerFreightChargesAndDelaysService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_LinerGuaranteeDepositService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_LinerInvoicesService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_LinerPaymentsService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_LinerPurchaseOrderService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_LinerVendorService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://10.0.6.14:8201/DynamicsAx/Services/LinerServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_LinerBankTransService"
                contract="WS_ISD.LinerBankTransService" name="NetTcpBinding_LinerBankTransService">
                <identity>
                    <userPrincipalName value="adminax@repmar.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://10.0.6.14:8201/DynamicsAx/Services/LinerServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_LinerCurrenciesService"
                contract="WS_ISD.LinerCurrenciesService" name="NetTcpBinding_LinerCurrenciesService">
                <identity>
                    <userPrincipalName value="adminax@repmar.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://10.0.6.14:8201/DynamicsAx/Services/LinerServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_LinerCustomerService"
                contract="WS_ISD.LinerCustomerService" name="NetTcpBinding_LinerCustomerService">
                <identity>
                    <userPrincipalName value="adminax@repmar.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://10.0.6.14:8201/DynamicsAx/Services/LinerServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_LinerEmployeeService"
                contract="WS_ISD.LinerEmployeeService" name="NetTcpBinding_LinerEmployeeService">
                <identity>
                    <userPrincipalName value="adminax@repmar.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://10.0.6.14:8201/DynamicsAx/Services/LinerServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_LinerFreightChargesAndDelaysService"
                contract="WS_ISD.LinerFreightChargesAndDelaysService" name="NetTcpBinding_LinerFreightChargesAndDelaysService">
                <identity>
                    <userPrincipalName value="adminax@repmar.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://10.0.6.14:8201/DynamicsAx/Services/LinerServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_LinerGuaranteeDepositService"
                contract="WS_ISD.LinerGuaranteeDepositService" name="NetTcpBinding_LinerGuaranteeDepositService">
                <identity>
                    <userPrincipalName value="adminax@repmar.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://10.0.6.14:8201/DynamicsAx/Services/LinerServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_LinerInvoicesService"
                contract="WS_ISD.LinerInvoicesService" name="NetTcpBinding_LinerInvoicesService">
                <identity>
                    <userPrincipalName value="adminax@repmar.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://10.0.6.14:8201/DynamicsAx/Services/LinerServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_LinerPaymentsService"
                contract="WS_ISD.LinerPaymentsService" name="NetTcpBinding_LinerPaymentsService">
                <identity>
                    <userPrincipalName value="adminax@repmar.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://10.0.6.14:8201/DynamicsAx/Services/LinerServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_LinerPurchaseOrderService"
                contract="WS_ISD.LinerPurchaseOrderService" name="NetTcpBinding_LinerPurchaseOrderService">
                <identity>
                    <userPrincipalName value="adminax@repmar.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://10.0.6.14:8201/DynamicsAx/Services/LinerServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_LinerVendorService"
                contract="WS_ISD.LinerVendorService" name="NetTcpBinding_LinerVendorService">
                <identity>
                    <userPrincipalName value="adminax@repmar.corp" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>